<head>
  <title>Happy Birthday Brad</title>
</head>



  <div id="top" class="header">
    <div class="vert-text">
      <h1>It's been 37 years.</h1>
      <h3 style="color:white">
        37 Years of awesome life, awesome experiences,
        with awesome friends and family.</h3>
        <a href="#about" class="btn btn-default btn-lg btn-warning">Take a Tour, to Brad's 37th birthday</a>
      </div>
    </div>
    <!-- Intro -->
    <div id="about" class="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>June 23rd, 1979 was Saturday, under the sign of Cancer.</h2>
            <p class="lead">In this website I am going to take you to a tour of facts that he has experienced them so far.
            </p>
            <h3>Let's take a tour of Brad's last 37 years:<strong>by the numbers.</strong></h3>
            <small>from now on "I" referes to Brad </small>
          </div>
          <div class="col-md-4 col-md-offset-1">
              <img src="https://s26.postimg.org/k79oug6d5/brad.png" height="220px">
          <br><br>
          </div>
        </div>
      </div>
    </div>
    <!-- /Intro -->
    <!-- Callout -->
  <!-- <div class="callout">
      <div class="vert-text">
          <h1>New Team Members: 2</h1>
      </div>
  </div> -->
  <!-- /Callout -->

  <!-- Services -->
  <div id="services" class="services" style="background:#112F41">
      <div class="container">
          <div class="row">
              <div class="col-md-6 text-center">
                  <h2>Times I've played Poker: <em><strong>278</strong></em></h2>
                  It's not something I typically play, but on occasion, if I feel lucky, I give it a shot.
                  Usually for my wife. If I am being honest, I am a very good player.
              </div>
              <div class="poker col-md-4 col-md-offset-1">
                <img src="https://media.giphy.com/media/G5oPcT0syI2pG/giphy.gif" height="120px">
              </div>
          </div>
      </div>
  </div>
  <!-- /Services -->

  <!-- Services -->
  <div id="services" class="services" style="background:#F2B134">
      <div class="container">
          <div class="row">
              <div class="col-md-6 text-center">
                  <h2 style="color:black">Experiencing Power Failures Throughout My Life: <em><strong>75</strong></em></h2>
                  <p style="color:black">Yup, it's happened many times.</p>
              </div>
              <div class="col-md-4 col-md-offset-1">
                <br><i class="fa fa-power-off fa-5x" style="color:black"></i>
              </div>
          </div>
      </div>
  </div>
  <!-- /Services -->

  <!-- Services -->
  <div id="services" class="services">
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-md-offset-4 text-center">
                  <h2>Number of my life VIPs: <em><strong>5</strong></em></h2>
                  <hr>
              </div>
          </div>
          <div class="row">
              <div class="col-md-1 col-md-offset-3 text-center">
                  <div class="service-item">
                      <img class="img-circle" src="https://s26.postimg.org/x17qnsjsp/Screen_Shot_2016_06_16_at_10_45_56_PM.png" width="100px" height="100px">
                      <br>Thank you.
                  </div>
              </div>
              <div class="col-md-1 text-center">
                  <div class="service-item">
                      <img class="img-circle" class="img-circle" src="https://s26.postimg.org/ozji5w115/Screen_Shot_2016_06_16_at_10_49_27_PM.png" width="100px" height="100px">
                      <br>Thank you.
                  </div>
              </div>
              <div class="col-md-1 text-center">
                  <div class="service-item ">
                      <img class="img-circle" src="https://s26.postimg.org/a2b14vnsp/Screen_Shot_2016_06_16_at_10_48_23_PM.png" width="100px" height="100px">
                      <br>... thank you.
                  </div>
              </div>
              <div class="col-md-1 text-center">
                  <div class="service-item">
                      <img class="img-circle" src="https://s26.postimg.org/9o9p5a3p5/Screen_Shot_2016_06_16_at_10_47_07_PM.png" width="100px" height="100px">
                      <br>... thank you.
                  </div>
              </div>
              <div class="col-md-1 text-center">
                  <div class="service-item">
                      <img class="img-circle" src="https://s26.postimg.org/yy4gsdagp/Screen_Shot_2016_06_16_at_10_49_39_PM.png" width="100px" height="100px">
                      <br>... And thank you.
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- /Services -->



  <!-- Portfolio -->
  <div id="portfolio" class="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h2>Countries I have visited: 6</h2>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 text-center">
          <div class="portfolio-item">
            <a href="#">
              <img class="img-portfolio img-responsive" src="http://icons.iconarchive.com/icons/custom-icon-design/all-country-flag/256/Iran-Flag-icon.png">
            </a>
            <h4>IRAN</h4>
          </div>
        </div>
        <div class="col-md-2 text-center">
          <div class="portfolio-item">
            <a href="#">
              <img class="img-portfolio img-responsive" src="http://iconbug.com/data/bc/256/74e423ed4db8eeecbfe32023e102fe32.png">
            </a>
            <h4>UAE</h4>
          </div>
        </div>
        <div class="col-md-2 text-center">
          <div class="portfolio-item">
            <a href="#">
              <img class="img-portfolio img-responsive" src="http://icons.iconarchive.com/icons/custom-icon-design/all-country-flag/256/Maldives-Flag-icon.png">
            </a>
            <h4>Maldives</h4>
          </div>
        </div>

        <div class="col-md-2 text-center">
          <div class="portfolio-item">
            <a href="#">
              <img class="img-portfolio img-responsive" src="http://icons.iconarchive.com/icons/custom-icon-design/flag-3/256/New-Zealand-Flag-icon.png">
            </a>
            <h4>New Zealand</h4>
          </div>
        </div>

        <div class="col-md-2 text-center">
          <div class="portfolio-item">
            <a href="#">
              <img class="img-portfolio img-responsive" src="http://icons.iconarchive.com/icons/custom-icon-design/all-country-flag/256/Australia-Flag-icon.png">
            </a>
            <h4>Australia</h4>
          </div>
        </div>

        <div class="col-md-2 text-center">
          <div class="portfolio-item">
            <a href="#">
              <img class="img-portfolio img-responsive" src="http://icons.iconarchive.com/icons/custom-icon-design/all-country-flag/256/Vietnam-Flag-icon.png">
            </a>
            <h4>Vietnam</h4>
          </div>
        </div>

      </div>
      <div class="col-md-8 col-md-offset-2 text-center" style="padding-bottom:20px">
        I have also visited Canada and Mexico, where most of the Americans have been.
      </div>
    </div>
  </div>
  <!-- /Portfolio -->

      <!-- Portfolio -->
  <!-- <div id="portfolio" class="portfolio" style="background:#5C5C5C; color:white;">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center">
                  <h2>Website Designs: 3</h2>
                  <hr>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4 text-center">
                  <div class="portfolio-item">
                      <a href="#">
                          <img class="img-portfolio img-responsive" src="img/portfolio-5.jpg">
                      </a>
                      <h4>2009-2010</h4>
                      Seems like so long ago. At the time I was like, "Look how easy CSS makes everything!"
                  </div>
              </div>
              <div class="col-md-4 text-center">
                  <div class="portfolio-item">
                      <a href="#">
                          <img class="img-portfolio img-responsive" src="img/portfolio-6.jpg">
                      </a>
                      <h4>2010-2012</h4>
                      Flash Site. 'Nuff said.
                  </div>
              </div>

              <div class="col-md-4 text-center">
                  <div class="portfolio-item">
                      <a href="#">
                          <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
                      </a>
                      <h4>2012-Present</h4>
                      It's served us quite well. We love how easy it is for us to post updates, recaps, and more!
                  </div>
          </div>
      </div>
      <div class="col-md-8 col-md-offset-2 text-center" style="padding-bottom:20px">
        There's another redesign around the corner. Maybe we'll go back to Flash? Haha.
      </div>
  </div> -->
  <!-- /Portfolio -->

  <!-- Services -->
  <div id="services" class="services" style="background:#112F41">
      <div class="container">
          <div class="row">
              <div class="col-md-6 text-center">
                  <h2>Times I cried: <strong>4</strong></h2>
                  Yeah, I tend to get emotional. Especially when I am chopping onions.
              </div>
              <div class="col-md-4 col-md-offset-2">
                <i class="fa fa-tint fa-5x" style="margin-top:20px"></i>
              </div>
          </div>
      </div>
  </div>
  <!-- /Services -->

  <!-- Services -->
  <div id="services" class="services" style="background:#F2B134; color:black">
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-md-offset-2">
                <i class="fa fa-microphone-slash fa-5x" style="margin-top:20px; margin-right:10px"></i>
                <i class="fa fa-beer fa-5x" style="margin-top:20px"></i>
              </div>
              <div class="col-md-6">
                  <h2>Times I've decided not to drink: <strong>4</strong></h2>
                  Sometime just can't handle it. <strong>Don't drink and don't speech.</strong>
              </div>

          </div>
      </div>
  </div>
  <!-- /Services -->

  <!-- Services -->
  <div id="services" class="services" style="background:#068587">
      <div class="container">
          <div class="row">
              <div class="col-md-4 text-center"><br><br>
                  <h2>States I've been In:<strong> 9</strong></h2>
                  <strong>I have been around the country </strong> for studying to working and partying.
              </div>
              <div class="col-md-4 col-md-offset-2">
                <img src="http://www.clker.com/cliparts/A/G/a/T/g/j/united-states-map-with-states-b-w.svg" width= "450px" height= "150px">
              </div>
          </div>
      </div>
  </div>
  <!-- /Services -->

  <!-- Services -->
  <div id="services" class="services" style="background:#ED553B; color:black">
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-md-offset-2">
                <img src="http://stream1.gifsoup.com/view2/3469254/abridged-shaving-o.gif" width= "250px" height= "150px">
              </div>
              <div class="col-md-4">
                <h2>Times I've spent shaving:<strong>1634</strong></h2>
                It's the coolest feeling to find out there is no hair on your face.
              </div>
          </div>
      </div>
  </div>
  <!-- /Services -->

  <!-- Services -->
  <div id="services" class="services" style="background:#112F41">
      <div class="container">
          <div class="row">
              <div class="col-md-6 text-center">
                  <h2>Times I Spilled A Drink on the Dance Floor: <strong>16</strong></h2>
                  <strong>PARTY FOUL.</strong>
              </div>
              <div class="col-md-4 col-md-offset-1">
                <i class="fa fa-glass fa-5x" style="margin-top:20px"></i>
              </div>
          </div>
      </div>
  </div>
  <!-- /Services -->

  <!-- Callout -->
  <!-- <div class="callout2">
      <div class="vert-text">
          <h2>DIFFERENT NATIONALITIES WE'VE WORKED WITH:</h2>
          <br><br>
          <h1>18</h1>
      </div>
  </div> -->
  <!-- /Callout -->

  <!-- Services -->
  <!-- <div id="services" class="services" style="background:#F2B134; color:black">
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-md-offset-0">
                <img src="img/pa.png" height="150px">
              </div>
              <div class="col-md-8" style="padding-top:20px">
                  <h2>Different Counties in PA We've Worked: <strong>11</strong></h2>
                  We work in primarily Central PA - in the Lancaster, York, and Dauphin Counties. But we've been all around the state!
              </div>

          </div>
      </div>
  </div> -->
  <!-- /Services -->


  <!-- Callout -->
  <div class="callout3">
      <div class="vert-text">
          <h2>Number of Times I danced with "Cotton Eye Joe"</h2>
          <br><br>
          <h2>41</h2>
      </div>
  </div>
  <!-- /Callout -->


  <!-- Callout -->
  <!-- <div class="callout4">
      <div class="vert-text">
          <h2>Number of Times I had wedding reception in the last year</h2>
          <br><br>
          <h1>3</h1>
          Yeah. my wife and I had 3 different wedding receptions. <strong>That's what it is.</strong>
      </div>
  </div> -->
  <!-- /Callout -->

  <!-- Services -->
  <div id="services" class="services" style="background:#4D270E">
      <div class="container">
          <div class="row">
              <div class="col-md-6 text-center">
                  <h2>Times I had Coffee: <strong>143203</strong></h2>
              </div>
              <div class="col-md-4 col-md-offset-2">
                <i class="fa fa-coffee fa-5x" style="margin-top:0px"></i>
              </div>
          </div>
      </div>
  </div>
  <!-- /Services -->

  <!-- Services -->
  <div id="services" class="services" style="background:#068587">
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-md-offset-2">
                <i class="fa fa-pencil fa-5x" style="margin-top:0px"></i>
              </div>
              <div class="col-md-4 text-center">
                  <h2>Languages I know:<strong>3</strong></h2>
              </div>
          </div>
      </div>
  </div>
  <!-- /Services -->

  <!-- Callout -->
  <div class="callout5">
      <div class="vert-text farsi">
          <h2>Number of Words I know in Farsi</h2>
          <br><br>
          <h2>143</h2>
      </div>
  </div>
  <!-- /Callout -->

  <!-- Callout -->
  <div class="callout5 farsi">
      <div class="vert-text">
          <h2>Number of Words I know in Spanish</h2>
          <br><br>
          <h2>22</h2>
      </div>
  </div>
  <!-- /Callout -->

  <!-- Callout -->
  <div class="callout6">
      <div class="vert-text">
          <h1>Number of Wedding Receptions:</h1>
          <br><br>
          <h1 style="font-size:132px">3</h1>
      </div>
  </div>
  <!-- /Callout -->

  <!-- Services -->
  <div id="services" class="services" style="background:grey">
      <div class="container">
          <div class="row">
              <div class="col-md-6 text-center" style="color:black">
                  <h2>Number of shoes I have had so far</h2>
                  <h1><strong>789</strong></h1>
              </div>
              <div class="col-md-4 col-md-offset-2">
                <i class="fa fa-paw fa-5x" style="margin-top:0px"></i>
              </div>
          </div>
      </div>
  </div>
  <!-- /Services -->

  <!-- Services -->
  <div id="services" class="services" style="background:#4D69A2">
      <div class="container">
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <img src="http://1.bp.blogspot.com/-M0nLPt4F4PI/Vf8lim6ZChI/AAAAAAAAABo/juN5snSfJTc/s1600/fb_fan_15_like.png" height="150px">
            </div>
            <div class="col-md-6 text-center" style="color:white">
                <h2>Facebook friends:</h2>
                <h1><strong>465</strong></h1>
                Aww. so famouse.
            </div>
          </div>
      </div>
  </div>
  <!-- /Services -->

  <!-- Services -->
  <!-- <div id="services" class="services" style="background:#FFFFFF">
      <div class="container">
          <div class="row">
              <div class="col-md-6 text-center" style="color:black">
                  <h2>Website Traffic:</h2>
                  <h1><strong>LOTS.</strong></h1>
              </div>
              <div class="col-md-4 col-md-offset-0">
                <img src="img/traffic.png" height="100">
              </div>
          </div>
      </div>
  </div> -->
  <!-- /Services -->

  <!-- Services -->
  <!-- <div id="services" class="services" style="background:#068587">
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-md-offset-2">
                <i class="fa fa-clock-o fa-5x" style="margin-top:40px"></i>
              </div>
              <div class="col-md-6 text-center">
                  <h1>Continuous Minutes of Music:<br><strong>104,040*</strong></h1>
                  (Estimated. Don't be that person that asks us to back this up.)
                </div>
          </div>
      </div>
  </div> -->
  <!-- /Services -->

  <!-- Services -->
  <div id="services" class="services" style="background:#F2F2F2">
      <div class="container">
          <div class="row">
              <div class="col-md-6 text-center" style="color:black">
                  <h2>Miles Driven:</h2>
                  <h1><strong>48266</strong></h1>
                  (Accurate to about ten miles)
              </div>
              <div class="col-md-4 col-md-offset-0" style="margin-top:20px">
                <img src="https://s26.postimg.org/ie6s64l6h/car.png" height="100">
              </div>
          </div>
      </div>
  </div>
  <!-- /Services -->

  <!-- Callout -->
  <!-- <div class="callout7">
      <div class="vert-text">
          <h2>Times my wife <strong><u>loves</u></strong> me:</h2>
          <br><br>
          <h1 style="font-size:132px">milions</h1>
          <i class="fa fa-smile-o fa-5x" style="margin-top:0px"></i>
      </div>
  </div> -->
  <!-- /Callout -->

  <!-- Intro -->
  <!-- <div id="about" class="intro" style="background:white; color:black">
      <div class="container">
          <div class="row">
              <div class="col-md-8">
                  <h2>Then, and Now...</h2>
                  <p class="lead">Our mission has always been to provide couples with world-class service, while preserving an <u>authentic</u>, <strong>local</strong>, and <em>experienced</em> company handling the soundtrack on their big day. After five years, we:
                  </p>
                  <ul>
                    <li><h3><u>Don't</u> have dozens of DJ's at our disposal.</h3></li>
                    <li><h3>We hang out / keep-in-touch with tons of our couples.</h3></li>
                    <li><h3>Still love what we do on the weekends.</h3></li>
                  </ul>
                  There are a lot of DJ Companies in the Central Pennsylvania area, but we don't want to be like any of them. All we want to do is provide the best, most customized soundtrack imaginable for a local couple's big day. The rest is just noise, to us. If you've seen us at a wedding, you've seen us in our element - helping people have a good time.<br><br>
                  At the end of the day, we're just 4 buddies that love our little weekend gig, and what it's become over the past five years. If you've been one of our couples, we want to say 'thank you', from the bottoms of our hearts. Being there for you was an honor, and all it takes is a picture or a memory of your big day and hundreds of little details all come rushing back.<br><br>
                  <strong>Here's to the next five years, the next 150 weddings, the next 8,000 miles. We'll see you around.<br><br></strong>
                  Warmest Regards,<br><br>
                    <img src="img/sig.jpg" height="40px"><br><br>
              </div>
              <div class="col-md-4 col-md-offset-0">
                <img src="img/funny.jpg" height="600px"><br><br>
              </div>
          </div>
      </div>
  </div> -->
  <!-- /Intro -->


  <!-- Call to Action -->
  <div class="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">

          <!-- Contact Section -->
          <!-- <section id="contact">
          <div class="container">
          <div class="row"> -->
          <div class="col-lg-12 text-center">
            <h2>Please leave Brad a birthday Message</h2>
            <p>*Your message will remain private and Brad is the only one having the access to retreive all the messages from database</p>
            <hr class="star-primary">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
            <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->

            {{contact-tile savedContact="savedContact" contact="model"}}
          </div>
          <!-- </div>
        </div>
      </section> -->




    </div>
  </div>
</div>
</div>
  <!-- /Call to Action -->

    <div class="container">
      {{outlet}}
    </div>
    <!-- Footer -->
    <footer class="bradFooter">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center" >
            <a href="https://www.facebook.com/bradley.johnson.39566"><i class="fa fa-facebook fa-3x" style="color:blue"></i></a>
            <a href="https://www.linkedin.com/in/bradley-johnson-4161a7107?authType=NAME_SEARCH&authToken=l2V0&locale=en_US&srchid=594966711466135741609&srchindex=1&srchtotal=2284&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A594966711466135741609%2CVSRPtargetId%3A451352466%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue%2CauthType%3ANAME_SEARCH"><i class="fa fa-linkedin fa-3x" style="color:blue"></i></a>
            {{#link-to 'happyBirthdayBrad'}}<i class="fa fa-envelope fa-3x" style="color:blue"></i>{{/link-to}}
            <div class="top-scroll">
              <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
            </div>
            <hr>
            <p>Copyright &copy; Brad 2016</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->
